.wrapper {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #26498e;
  font-size: 18px;
  font-family: Merriweather;
  font-weight: 700;

  border-radius: 5px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.wrapper:hover {
  color: #1b106e;

  background-image: url("../../../images/flag-usa.png");
  background-size: contain;
}

.container.ua .wrapper:hover {
  color: #f0f8ff;
  background-image: url("../../../images/flag-ua.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* === */

.container.dark .wrapper {
  color: #aaa5a0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.container.dark .wrapper:hover {
  color: #1b106e;
}

.container.dark.container.ua .wrapper:hover {
  color: #f0f8ff;
}
